<h1>Celebrities</h1>

{{#each celebrities}} 
    <h5>Name: <strong>{{this.name}}</strong></h5>
    <h5>Occupation: <strong>{{this.occupation}}</strong></h5>
    <h5>Catch phrase: <strong>{{this.catchPhrase}}</strong></h5>
    <br>
{{/each}}