<h1>Create a new movie: </h1>
<form action="/movies/create" method="POST">
    <label for="">Title: </label>
    <input type="text" name="title">
    <br>
    <label for="">Genre: </label>
    <input type="text" name="genre">
    <br>
    <label for="">Plot: </label>
    <input type="text" name="plot">
    <br>
    <label for="">Cast: </label>
    <select name="cast" multiple type="text" name="plot">
        {{#each celebrities}}
        <option value={{this.id}}>{{this.name}}</option>
        {{/each}}
    </select>
    
    <button type="submit">Create Movie</button>
</form>